body {
  font-family: Arial, sans-serif;
  background: #f2f2f2;
  margin: 0;
}

#app {
  max-width: 400px;
  margin: auto;
  padding: 20px;
}

.page {
  display: none;
}

.page.active {
  display: block;
}

h2 {
  text-align: center;
}

input, button {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  font-size: 16px;
}

button {
  background: #1976d2;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #0d47a1;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  background: white;
  padding: 15px;
  margin: 8px 0;
  cursor: pointer;
}

.card {
  background: white;
  padding: 15px;
  margin: 10px 0;
  cursor: pointer;
}

.video {
  background: #ddd;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
}
.teacher-upload {
  background: white;
  padding: 15px;
  margin-top: 15px;
  border-radius: 6px;
}

.teacher-upload h3 {
  text-align: center;
  margin-bottom: 10px;
}


